<div class = "navbar navbar-expand-sm bg-dark navbar-dark sticky-top">

    <div class = "container-fluid">

      <ul class = "navbar-nav">

        <li class = "nav-item"><a class = "nav-link" href = "http://localhost:3600/logout"> Déconnexion </a></li>
        <li class = "nav-item"><a class = "nav-link" href = "http://localhost:3600/accueil"> Accueil </a></li>
        <li class = "nav-item"><a class = "nav-link" href = "http://localhost:3600/classes/professeur"> Mes classes </a></li>

      </ul>

      <a class = "navbar-brand"> Principal </a>

    </div>
    
</div>